<script>

import { onMount } from 'svelte';

let data = [];
onMount( async function() {
    // const response = await fetch("https://academy.valentinog.com/api/link");
    const response = await fetch("http://localhost:9090/demo/all");
    const json = await response.json();
    data = json;
    console.log(json)
});

</script>
<!--
<ul>
  {#each data as link}
    <li>{link.id} - {link.email} - {link.name}</li>
  {/each}
</ul> -->

<p>{JSON.stringify(data)}</p>
