<script>
	import Board from "./Board.svelte";
	import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';

	const [send, receive] = crossfade({
		fallback(node, params) {
			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			return {
				duration: 1200,
				easing: quintOut,
				css: t => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});

	let todos = [
		{ id: 1, done: false, description: 'write some docs' },
		{ id: 2, done: false, description: 'start writing JSConf talk' },
		{ id: 3, done: true, description: 'buy some milk' },
		{ id: 4, done: false, description: 'mow the lawn' },
		{ id: 5, done: false, description: 'feed the turtle' },
		{ id: 6, done: false, description: 'fix some bugs' },
	];

	$: sortedTodos = [...todos.filter(t=> !t.done) , ...todos.filter(t=> t.done)];

	let uid = todos.length + 1;
  let todoDescription = '';
	function add() {
    if(todoDescription !== '')
    {
      const todo = {
  			id: uid++,
  			done: false,
  			description: todoDescription
  		};

  		todos = [todo, ...todos];
  		todoDescription = '';
    }
	}

	function remove(todo) {
		todos = todos.filter(t => t !== todo);
	}
</script>

<style>
  :global(html), :global(body) {
    height: 100%;
  }

  :global(body) {
    margin: 0;
    overflow: hidden;
    background-attachment: fixed;
    background: linear-gradient(#d7d0c4ff 20%, #d2d3c0ff 40%, #d3c274ff 50%, #ce9911ff 60%, #b6620eff 100%)
    /* background: linear-gradient(#dfdfdf 20%, #f0bd20 90%) no-repeat; */
  }

  .project-name{
    margin: 3em 0 3em 0;
  }

  .project-header-wrapper {
    /* width: 100%; */
    height: 3em;
    background: linear-gradient(#4c80bdff, #3963a1ff);
    border: 1px solid black;
    border-radius: 2px;
    font-family: "Comic Sans MS";
    font-size: 1.2em;
    padding-left: 1.5em;
    color: white;
  }

  .project-add-task-wrapper {
    /* display: flex; */
    background: linear-gradient(#dfdfdf, #cccccc);
    /* border-radius: 3px; */
    border: 1px solid grey;
  }

  .project-image {
    width:50px;
    height:50px;
    display: inline-block;
  }

	.new-todo {
		font-size: 1.4em;
		width: 80%;
    height: 40px;
		margin: 0.5em 0 0.5em 1em;
    display: inline-block;
    border-radius: 0px;
	}

  .new-todo-button {
    color: white;
    display: inline-block;
    background: linear-gradient(#88bfa2ff, #5b9273ff);
    margin: 0 0 0 -5px;
    font-size: 1.1em;
    /* width: 15%; */
    height: 40px;
    border-top-right-radius:    0.5em;
    border-bottom-right-radius: 0.5em;
  }

  .add-project-button-wrapper{
    width: 100%;
    /* height: 20em; */
    margin: 2em 0 0 0;
    justify-content: center;
    display: flex;
    /* align: center; */
  }

  .add-project-button{
    font-family: 'Comic Sans MS';
		font-size: 1.3em;
		padding: 0.5em 1em;
		color: white;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    background: linear-gradient(#4c80bdff, #3963a1ff);
  }

	.board {
		max-width: 46em;
		margin: 0 auto;
	}

	.left, .right {
		float: left;
		width: 100%;
		padding: 0 0 0 0;
		box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    height: calc(100% + 200px );
	}

  .project{
    /* opacity: 0.3; */
    box-sizing: border-box;
    overflow: hidden;
    /* background: linear-gradient(#ffffff, #000000) no-repeat ; */
  }

  h1 {
    margin: 0 0 0 0;
  }

	h2 {
		font-size: 2em;
		font-weight: 200;
		user-select: none;
	}

	label.common, .bottom-label {
		top: 0;
		left: 0;
		display: block;
		font-size: 1em;
		line-height: 2;
		padding: 0.5em;
		margin: 0 auto 0 auto;
		border-radius: 0px;
    border-top: 1px solid grey;
		background-color: #fff;
		user-select: none;
	}

  /* label.bottom-label {
    height: 1em;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  } */

	input { margin: 0 }

	.right label {
		background-color: #fcfed5ff;
	}

	.todo {
    display: inline-block;
		float: right;
		height: 1em;
		box-sizing: border-box;
		padding: 0 0.5em;
		line-height: 1;
    /* background: linear-gradient(#123123, #234234); */
		background-color: transparent;
		border: none;
		color: rgb(170,30,30);
		opacity: 0;
		transition: opacity 0.2s;
	}

  label:hover {
    background-color: #FAEBD7;
  }

	label:hover .todo {
		opacity: 1;
	}

  p.taskDescription, p.doneDescription {
    display: inline;
    color:black;
  }

  p.doneDescription {
    color:gray;
  }
</style>

<svelte:head>
  <title>Simple TODO lists</title>
</svelte:head>

<div class='board'>
  <div class="project-name" align="center">
    <h1>SIMPLE TODO LISTS</h1>
    by Dmitriy Shulha
  </div>

  <div class="project">
    <div class="project-header-wrapper">
      <div>
      </div>
      <p>Project name</p>
    </div>

    <div class="project-add-task-wrapper">
      <!-- <div class="project-image"> sd</div> -->
      <input class="new-todo"
        style="display:inline-block"
        placeholder="what needs to be done?"
        bind:value={todoDescription}
        on:keydown="{event => event.which === 13 && add()}"
      >
      <button class="new-todo-button" on:click="{() => add()}">Add task</button>
    </div>
    <div class='left'>
      <!-- <h2>todo</h2> -->
			{#each sortedTodos as todo (todo.id)}
				<label
					class="common"
					in:receive="{{key: todo.id}}"
					out:send="{{key: todo.id}}"
					animate:flip="{{duration: 400}}"
				>
					<input type=checkbox bind:checked={todo.done} >
					{#if todo.done}
						<p class="doneDescription"><s>{todo.description}</s></p>
					{:else}
						<p class="taskDescription">{todo.description}</p>
					{/if}
					<button class="todo" on:click="{()=>remove(todo)}">x</button>
					<!-- <button class="todo">o</button> -->
				</label>
			{/each}
    </div>
  </div>
  <div class="add-project-button-wrapper">
    <button class="add-project-button"> Add TODO list</button>
  </div>
</div>
