<script>
	import TaskList from './TaskList.svelte';
	import { projects } from './projectStore.js';
	const {backend: {host, port} } = require('./../../config.js');

	export let project_id;

	// export let name;
	// export let todoList;

	let needToRename = false;
	let name = projects.byPID(project_id).name;
	let newProjectName = name;

	async function renameProject(newName){
		let response = await fetch(`http://${host}:${port}/projects/${project_id}`,{
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({name: newName})
		});
		// let result = await response.text();
		// alert(result);

		name = newName;
		projects.byPID(project_id).name = name;
		needToRename = false;

		console.log("Project-renameProject:");
		console.log($projects);
	}
</script>

<style>

.inline {
	display: inline;
}

.rename-project-button, .remove-project-button {
	float: right;
	display: inline;
}

.project{
	/* opacity: 0.3; */
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 0 4em 0;
	/* background: linear-gradient(#ffffff, #000000) no-repeat ; */
}

.project-image {
	width:50px;
	height:50px;
	display: inline-block;
}

.project-header-wrapper {
	/* width: 100%; */
	/* height: 3em; */
	background: linear-gradient(#4c80bdff, #3963a1ff);
	border: 1px solid black;
	border-radius: 2px;
	/* font-family: "Comic Sans MS"; */
	font-family: "Cloister Black Light";
	font-size: 1.2em;
	padding-left: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1.5em;
	color: white;
}

.edit-project-name {
	/* font-size: 1.4em; */
	width: 80%;
	/* height: 20px; */
	/* margin: 0.5em 0 0.5em 1em; */
	display: inline-block;
	border-radius: 0px;
}

</style>

<div class="project">
	<div class="project-header-wrapper">
		{#if needToRename}
			<input
				autofocus
				class="edit-project-name"
				type="text"
				placeholder="What's the name of this project?"
				bind:value={newProjectName}
				on:keydown="{event => event.which === 13 && renameProject(newProjectName)}"
			>
		{:else}
			<p class="inline">{name}</p>
		{/if}
		<button class="remove-project-button" on:click>Del</button>
		<button class="rename-project-button" on:click="{()=>needToRename=true}">Edit</button>
	</div>

	<TaskList project_id={project_id}/>
</div>
