<script>
  const arr = [];
  for (var i = 1; i <= 10; i++) {
    arr.push(i);
  }
  const n = arr.length;
</script>

<style>
  td{
    border: 1px solid black;
  }
</style>

<table>
  {#each arr as item_x}
    <tr>
      {#each arr as item_y}
        <td>{(item_x-1)*n + item_y}</td>
      {/each}
    </tr>
  {/each}
</table>
